@font-face {
    font-family: roya;
    src: url('font/RoyaR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: roya;
    src: url('font/RoyaB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    direction: rtl;
}

body {
    background-color: #e1e1e1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul {
    list-style-type: none;

}

#navbar a {
    text-decoration: none;
    color: white;
    display: block;
    width: 125px;
    text-align: center;
    margin-top: 5px;
    font-size: 19px;
    height: 33px;
}

#navbar {
    background-color: black;
    padding-top: 12px;
    position: fixed;
    width: 100%;
    margin-right: -8px;
    margin-top: -30px;
    height: 60px;
    border-bottom: #cef8c7 2px solid;
}

#navbar li {
    display: inline-block;
    margin-right: 15px;
}

#navbar li:first-of-type {
    margin-right: 75px;
}

#navbar li:hover {
    background-color: rgb(210, 165, 30);
    transition: 0.5s;
}

#content {
    padding-top: 50px;
    width: 1133px;
    text-align: justify;
    margin: auto;
    font-size: 23px;
    color: #ffffff;
}

h2 {
    width: 260px;
    margin: auto;
    font-size: 33px;
    text-align: center;
}

#services {
    width: 1283px;
    margin: auto;
    padding-right: 15px;
}

.item {
    width: 299px;
    height: 320px;
    background-color: white;
}

img {
    width: 300px;
}


div[class*=col-] {
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    padding-right: 80px;
    padding-top: 17px;
}

.item:hover {
    box-shadow: 0 0 10px black;
}

#footer {
    width: 1550px;
    height: 210px;
    background-color: #333338;
    float: right;
    margin-top: 50px;
    margin-right: -20px;
    border-top: #dd7777 7px solid;
}

#footsite li {
    line-height: 2.5em;
    float: right;
    margin: 10px 20px;
    width: 130px;
}

#footsite a {
    color: #aaa;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition: 0.2s;
    text-align: center;
}

#footsite {
    width: 457px;
    margin: auto 880px;
}

#footsite a:hover {
    color: white;
}

input {
    height: 43px;
    width: 235px;
    border-radius: 25px;
    font-size: 18px;
    color: gray;
}

#form {
    width: 202px;
    margin-right: -745px;
    float: right;
    margin-top: -70px;
}

button {
    width: 108px;
    height: 38px;
    border-radius: 25px;
    margin-right: 68px;
    margin-top: 9px;
    font-size: 18px;
    background-color: #444466;
    border: rgb(213, 211, 211) 1px solid;
}

button a {
    display: block;
    color: rgb(184, 180, 180);

}
button:hover{
    background-color: #626290;
}

